<a href="https://colab.research.google.com/github/aniket9763/chat_to_csv/blob/main/script.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
import os
os.chdir('/content/drive/MyDrive/ELON DATA 3')

In [ ]:
!ls

 aniket.txt  'elon data for 1'	'elon data for 2'

# New Section

In [ ]:
import re
import pandas as pd

In [ ]:
pattern = r'([a-zA-Z\s]):(.+)'

In [ ]:
data = {
    'name': [],
    'line': []
}

In [ ]:
with open('aniket.txt','rt') as file:
  for line in file.readlines():
    match = re.findall(pattern, line)
    if match:
      name, line = match[0]
      data['name'].append(name)
      data['line'].append(line)

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.head()

  name                                               line
0    T   Elon Musk, welcome to THINK TANK. We normally...
1    K   Well, I was born in South Africa, lived there...
2    T   What is that? I’m sort of a techie ignoramus....
3    K   Pay Pal is the leading internet payment mecha...
4    T   What does it do that my American Express card...

In [ ]:
from pickle import FALSE
df.to_csv('elon data for 2',index=FALSE)